# Archivos de Android Studio
*.iml
.idea/
.gradle/
local.properties

# Archivos de sistema
.DS_Store

# Archivos de build
/build/
/captures/
/.externalNativeBuild/
/cxx/
*/build/

# Configuración específica
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles/

# Archivos generados
*.apk
*.ap_
*.log
*.kotlin_module

# Firebase config
google-services.json

# Fastlane (opcional si usas CI/CD)
fastlane/report.xml
fastlane/screenshots/
fastlane/metadata/
